SESSION_SECRET=E-Atlas S3cr3T
REACT_APP_FRONT_URL=http://localhost/
REACT_APP_ADMIN_URL=http://localhost/admin
REACT_APP_API_SERVER=http://localhost/api
REACT_APP_MEDIA_SUBPATH=media
CORS_ALLOW_NO_ORIGIN=1
PUBLISH_FILE_COMMAND=copy
