@import "var";

.AboutPage {
  .AboutHeader {
    background: no-repeat fixed 90% 20%/250px
        url("../assets/img/headers/sciences-po-embleme.png"),
      linear-gradient(#707682,#B9AA72);
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 96px;
    padding-top: 96px;

    @include breakpoint(desktop) {
      background-position: 90% 13%;
      background-size: 400px;
    }

    .AboutTitle {
      color: $color-white;
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
      margin-top: 96px;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

      @include breakpoint(desktop) {
        font-size: 7rem;
        line-height: 7rem;
      }
    }
  }

  .AboutTeam,
  .AboutBook {
    background: $color-footer;
  }

  .AboutProject,
  .AboutContact {
    background: $color-white;
  }

  section {
    padding: $gap4 0;
  }

  section,
  p,
  li {
    font-size: 1.6rem;

    @include breakpoint(desktop) {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-size: 3.3rem;

    @include breakpoint(desktop) {
      font-size: 3.8rem;
    }
  }

  h3 {
    font-size: 1.8rem;

    @include breakpoint(desktop) {
      font-size: 2.1rem;
    }
  }

  h2,
  h3 {
    color: $color-breadcrumb;
    margin-top: 0;
  }

  .logo {
    img {
      width: 240px;
      margin: 0 0 20px;
    }
  }

  .vcenter {
    @include breakpoint(desktop) {
      display: flex;
      align-items: center;
    }
  }

  button,
  .button {
    background-color: $color-breadcrumb;
    border: 0;
    border-radius: $gap;
    color: $color-white;
    font-size: 1.8rem;
    margin: $gap $gap 0 0;
    padding: $gap;
    transition: color 0.1s ease-in, background 0.1s ease-in;

    &:focus,
    &:hover {
      background-color: $color-yellow;
      color: $color-breadcrumb;
    }

    &.tour {
      background: $color-white;
      color: $color-breadcrumb;
    }

    img {
      height: 24px;
    }
  }

  .AboutTeam {
    ul {
      // not well with small device (4 rows instead of 3)
      display: inline-block;
      // flex-direction: column;
      list-style: none;
      justify-content: space-between;
      padding: 0;

      // @include breakpoint(desktop) {
      //   flex-direction: row;
      // }
    }

    button {
      background: transparent;
      color: initial;
      margin: 0;

      img {
        height: auto;
        // marie-françoise
        max-width: 110px;
        // width: 100%;
      }
    }

    .TeamMember {
      align-items: center;
      display: flex;
      justify-content: start;
      margin-bottom: $gap;

      @include breakpoint(desktop) {
        flex-direction: column;
      }
    }

    .TeamMemberName {
      @include breakpoint(desktop) {
        text-align: center;
        white-space: nowrap;
      }
    }

    .avatar {
      background: $color-keyword;
      border-radius: 50%;
      height: 96px;
      margin: 0 $gap 0 0;
      width: 96px;

      @include breakpoint(desktop) {
        margin: 0 auto $gap;
      }
    }

    .modal {
      img {
        width: 50%;

        @include breakpoint(desktop) {
          width: 100%;
        }
      }

      .TeamMemberLinks a {
        margin-right: $gap;
      }
    }
  }

  section:target {
    padding: 100px 0;
  }
}

// used by team members
// vertical centering: https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center#25160044

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  border-radius: 0;
}

.modal-backdrop {
  background-color: $color-keyword;
}
