@import "var";

.AboutPage {
  .AboutHeader {
    background: no-repeat fixed 90% 20%/250px
        url("../assets/img/sciences-po-embleme.png"),
      $color-breadcrumb;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 96px;
    padding-top: 96px;

    @include breakpoint(desktop) {
      background-position: 90% 13%;
      background-size: 400px;
    }

    .AboutTitle {
      color: $color-white;
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
      margin-top: 96px;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

      @include breakpoint(desktop) {
        font-size: 7rem;
        line-height: 7rem;
      }
    }
  }

  .AboutTeam,
  .AboutBook {
    background: $color-footer;
  }

  .AboutProject,
  .AboutContact {
    background: $color-white;
  }

  section {
    padding: $gap4;
  }

  section,
  p,
  li {
    font-size: 1.4rem;
  }

  h2,
  h3 {
    color: $color-breadcrumb;
    margin-top: 0;
  }

  .logo {
    // TODO centrer verticalement le logo

    img {
      width: 240px;
      margin: 0 0 20px;
    }
  }

  button {
    background-color: $color-breadcrumb;
    border: 0;
    border-radius: $gap;
    color: $color-white;
    font-size: 1.4rem;
    margin: $gap $gap 0 0;
    padding: $gap;

    &.tour {
      background: $color-white;
      color: $color-breadcrumb;
    }

    img {
      height: 24px;
    }
  }

  .AboutTeam {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: space-between;
      padding: 0;

      @include breakpoint(desktop) {
        flex-direction: row;
      }
    }

    button {
      background: transparent;
      color: initial;
    }

    .TeamMember {
      align-items: center;
      display: flex;
      justify-content: start;
      margin-bottom: $gap;

      @include breakpoint(desktop) {
        flex-direction: column;
      }
    }

    .TeamMemberName {
      @include breakpoint(desktop) {
        text-align: center;
        white-space: nowrap;
      }
    }

    .avatar {
      background: $color-keyword;
      border-radius: 50%;
      height: 96px;
      margin: 0 $gap 0 0;
      width: 96px;

      @include breakpoint(desktop) {
        margin: 0 auto $gap;
      }
    }

    .TeamMemberLinks a {
      margin-right: $gap;
    }
  }
}
