@import 'colors';

.ArticlePage {

  .ArticleHeader {
    background-color: $color-breadcrumb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    color: white;
    display: flex;
    min-height: 100vh;
    position: relative;
    text-align: center;

    .ArticleHeaderInfo {
      margin: auto;
    }

    .ArticleTitle {
      font-family: 'Fira Sans', sans-serif;
      font-size: 70px;
      font-weight: normal;
      line-height: 70px;
      text-shadow: 0em 0em 10px #444;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    .ArticlePublishedAt {
      font-family: 'Gentium Basic', serif;
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
      text-shadow: 0em 0em 10px #444;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }

  }

  .ArticleSummaries {
    color: $color-breadcrumb;
    margin-bottom: 48px;
    margin-top: 48px;
    // for langs
    position: relative;

    h2 {
      background: #fff;
      display: inline-block;
      font-size: 2.2em;
      margin-top: 0;
      padding: 0 8px;
      position: relative;
      text-align: center;
      top: -16px;
    }

    p {
      font-size: 17px;
      line-height: 26px;
      text-align: left;
    }

    .tab-content {
      border-top: $color-breadcrumb 1px solid;
      border-bottom: $color-breadcrumb 1px solid;
      padding: 0 16px;
      text-align: center;
    }

    .tab-pane {
      position: relative;
    }

    .langs {
      background: white;
      font-size: 1.45em;
      line-height: 22px;
      margin: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      top: -12px;
      z-index: 1;

      li {
        display: inline-block;
        margin-right: 5px;
        height: 24px;
        width: 24px;
      }

      a {
        border: 1px solid $color-breadcrumb;
        color: $color-breadcrumb;
        display: block;
        height: 24px;
        text-decoration: none;
        width: 24px;
      }

      li.active a,
      li.active a:hover,
      li.active a:focus {
        color: white;
        background-color: $color-breadcrumb;
      }
    }

  }

  .ArticleBreadcrumb {
    background-color: $color-breadcrumb;
    font-size: 14.5px;
    height: 24px;

    a {
      color: white;
    }
  }

  .ArticleKeywords {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 8px;
    }

    a {
      background-color: #ffe9a1;
      color: rgba(0,0,0,.8);
      font-size: 15.8px;
      line-height: 24px;
      padding: 3px 8px;
      text-decoration: none;
      transition-duration: 0.2s;
      transition-property: all;
    }

    a:focus,
    a:hover {
      color: rgba(0,0,0,.8);
      background-color: #ffd754;
    }
  }

  .ArticleFooter {
    background-color: #d1d6e0;
    padding: 24px 0;

    section {
      margin-bottom: 48px;
    }

    section:last-child {
      margin-bottom: 0;
    }

    h2 {
      font-size: 21px;
      margin-top: 0;
    }

    p,
    ol {
      font-size: 1.39em;
      line-height: 21px;
    }

  }

  .ArticleSeeAlso {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: #333;
      display: flex;
      text-decoration: none;
      transition: all .2s ease;
    }

    img {
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      border: 0;
      margin-right: 16px;
      height: 72px;
      width: 200px;
    }

    .ArticleSeeAlsoTopic {
      font-family: 'Gentium Basic', serif;
      font-size: 15.8px;
      line-height: 24px;
    }

    .ArticleSeeAlsoTitle {
      font-family: 'Fira Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
    }

  }

}
