@import 'var';

.ArticlePage {

  figure {
    margin-bottom: 3.2em;

    picture {
      display: block;
      margin: auto;
      max-width: 1100px; // large
    }
  }

  .figure-title {
    font-weight: normal;
  }

  .ArticleHeader {
    background-color: $color-breadcrumb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    color: $color-white;
    display: flex;
    min-height: 100vh;
    position: relative;
    text-align: center;

    .ArticleHeaderInfo {
      margin: auto;
    }

    .ArticleTitle {
      font-size: 7rem;
      font-weight: normal;
      line-height: 7rem;
      text-shadow: 0em 0em 10px #444;
      box-decoration-break: clone;
    }

    .PublishedAt {
      font-family: $serif;
      font-size: 1.8rem;
      font-style: italic;
      line-height: 1.8rem;
      text-shadow: 0em 0em 10px #444;
      box-decoration-break: clone;
    }
  }

  .ArticleBreadcrumb {
    background-color: $color-breadcrumb;
    font-family: $serif;
    font-size: 1.5rem;
    height: $gap3;

    a {
      color: $color-white;
    }
  }

  .ArticleSummaries {
    color: $color-breadcrumb;
    margin-bottom: $gap6;
    margin-top: $gap6;
    // for langs
    position: relative;

    h2 {
      background: $color-white;
      display: inline-block;
      font-size: 2.2rem;
      margin-top: 0;
      padding: 0 8px;
      position: relative;
      text-align: center;
      top: -16px;
    }

    p {
      font-family: $serif;
      font-size: 1.7rem;
      line-height: 2.6rem;
      text-align: left;
    }

    .tab-content {
      border-top: $color-breadcrumb 1px solid;
      border-bottom: $color-breadcrumb 1px solid;
      padding: 0 $gap2;
      text-align: center;
    }

    .tab-pane {
      position: relative;
    }

    .langs {
      background: white;
      font-size: 1.5rem;
      line-height: 2.2rem;
      margin: 0;
      padding: 0;
      position: absolute;
      text-align: center;
      top: -12px;
      z-index: 1;

      li {
        display: inline-block;
        margin-right: 5px;
        height: $gap3;
        width: $gap3;
      }

      a {
        border: 1px solid $color-breadcrumb;
        color: $color-breadcrumb;
        display: block;
        height: $gap3;
        text-decoration: none;
        width: $gap3;
      }

      li.active a,
      li.active a:hover,
      li.active a:focus {
        color: $color-white;
        background-color: $color-breadcrumb;
      }
    }
  }

  .ArticleResourceDownload {
    color: $color-breadcrumb;
    font-style: italic;
    font-size: 1.4rem;
  }

  .ArticleResourceComment {
    display: flex;
    font-size: 1.4rem;

    > a {
      color: $color-breadcrumb;
      margin-right: 1em;
      font-size: 1.4rem;
      font-weight: bold;
      text-decoration: none;
    }
  }

  .ArticleFocus {
    color: $color-text;
    font-size: 2rem;
    margin-top: 0;
    
    > div {
      background-color: #fff7d9;
      border-left: 4px solid $color-keyword;
      padding: 10px 20px;
      transition: all .2s ease;

      &:hover {
        background-color: $color-keyword;
      }
    }

    a {
      color: initial;
      display: block;
      text-decoration: none;
    }
  }

  .ArticleSeeAlso {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin-bottom: $gap3;
    }

    a {
      color: #333;
      display: flex;
      text-decoration: none;
      transition: all .2s ease;
    }

    img {
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      border: 0;
      margin-right: $gap2;
      height: 72px;
      width: 200px;
    }

    .ArticleSeeAlsoTopic {
      font-family: $serif;
      font-size: 1.5rem;
      line-height: 2.4rem;
    }

    .ArticleSeeAlsoTitle {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.1rem;
    }
  }
}

.ArticlePrev,
.ArticleNext {
  background-color: transparent;
  color: black;
  margin: 5px;
  padding: 5px 10px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 40%;
  z-index: 2;

  &:before,
  &:before {
    display: block;
    font-size: 2.5rem;
  }

  &:hover {
    background-color: $color-white;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }

  &:hover .ArticlePrevNextTopic,
  &:hover .ArticlePrevNextTitle {
    display: block;
  }

  .ArticlePrevNextTopic,
  .ArticlePrevNextTitle {
    display: none;
    color: black;
    text-decoration: none;
    width: 200px;
  }

  .ArticlePrevNextTopic {
    font-family: $serif;
    font-size: 1.4rem;
  }

  .ArticlePrevNextTitle {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 15px 0;
  }

}

.ArticlePrev {
  margin: 5px 5px 5px 0;
  left: 0;
  text-align: left;

  &:hover {
    border-left: none;
  }

  &:before {
    font-family: 'Glyphicons Halflings';
    content: "\e257";
    text-align: left;
  }
}

.ArticleNext {
  margin: 5px 0 5px 5px;
  right: 0;
  text-align: right;

  &:hover {
    border-right: none;
  }

  &:before {
    font-family: 'Glyphicons Halflings';
    content: "\e258";
    text-align: right;
  }
}

