@import 'colors';

.ArticlePage {

  .ArticleHeader {
    background-color: $color-breadcrumb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    color: white;
    display: flex;
    min-height: 100vh;
    position: relative;
    text-align: center;

    .ArticleHeaderInfo {
      margin: auto;
    }

    .ArticleTitle {
      font-family: 'Fira Sans', sans-serif;
      font-size: 70px;
      font-weight: normal;
      line-height: 70px;
      text-shadow: 0em 0em 10px #444;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    .ArticlePublishedAt {
      font-family: 'Gentium Basic', serif;
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
      text-shadow: 0em 0em 10px #444;
      -webkit-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
    }

  }

  .ArticleBreadcrumb {
    background-color: $color-breadcrumb;
    font-size: 14.5px;
    height: 24px;

    a {
      color: white;
    }
  }

  .ArticleKeywords {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 8px;
    }

    a {
      background-color: #ffe9a1;
      color: rgba(0,0,0,.8);
      font-size: 15.8px;
      line-height: 24px;
      padding: 3px 8px;
      text-decoration: none;
      transition-duration: 0.2s;
      transition-property: all;
    }

    a:focus,
    a:hover {
      color: rgba(0,0,0,.8);
      background-color: #ffd754;
    }
  }

  .ArticleSeeAlso {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      color: #333;
      display: flex;
      text-decoration: none;
    }

    img {
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      margin-right: 16px;
      height: 72px;
      width: 200px;
    }

    .ArticleSeeAlsoTopic {
      font-family: 'Gentium Basic', serif;
      font-size: 15.8px;
      line-height: 24px;
    }

    .ArticleSeeAlsoTitle {
      font-family: 'Fira Sans', sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 21px;
    }

  }

}
