@import 'var';

.FocusIcon {
  // TODO path
  background-image: url('http://localhost:3000/assets/img/pictos-focus.svg');
  background-repeat: no-repeat;
  color: #ffc300;
  font-size: 21px;
  padding-left: 40px;
  text-transform: uppercase;
}

.DocParagraph {
  font-family: $serif;
}

a.LexiconLink {
  color: rgba(0,0,0,.8);
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: all;
  background-color: #d1d6e0;
  padding: 3px 8px;

  &:focus,
  &:hover {
    color: white;
    background-color: #4778d1;
  }
}

.DocFooter {
  background-color: $color-footer;
  padding: $gap3 0;

  section {
    margin-bottom: 48px;
  }

  section:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 21px;
    margin-top: 0;
  }

  p,
  ol {
    font-size: 1.39em;
    line-height: 21px;
  }
}

.Keywords {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: $gap;
  }

  a {
    background-color: $color-keyword;
    color: rgba(0,0,0,.8);
    font-family: $serif;
    font-size: 15.8px;
    line-height: 24px;
    padding: 3px 8px;
    text-decoration: none;
    transition-duration: 0.2s;
    transition-property: all;

    &:focus,
    &:hover {
      color: rgba(0,0,0,.8);
      background-color: #ffd754;
    }
  }
}

.Quote {
  blockquote {
    border-left: 4px solid $color-white;
    font-family: $serif;
    font-size: 10px;
    line-height: 21px;
    margin: 0px;
    padding-left: 16px;
  }
}

.Footnotes {
  ol {
    // styled with a span
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-family: $serif;
    font-size: 15.8px;
    margin-bottom: $gap;
  }

  li:target {
    background: white;
  }

  a, a:focus, a:hover {
    color: inherit;
    text-decoration: none;
  }

  .number {
    font-weight: bold;
  }

  .back {
    margin: 0 $gap;
  }

  .external {
    border-bottom: 2px solid $color-keyword;
  }
}

.Lexicon {
    background-color: #d1d6e0;
    border-top: 1px solid #ccc;
    bottom: -1px;
    box-shadow: 0 -4px 4px rgba(0,0,0,0.06);
    font-family: $serif;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 60%;
    padding: 0px;
    position: fixed;
    right: 0;
    z-index: 1;

    dl {
      color: #3d485a;
      font-size: 1.58em;
      line-height: 24px;
      margin-top: .5em;
    }

    dt {
      font-weight: 700;
    }
}

