.ArticlePage,
.FocusPage {
  figure {
    margin-bottom: 3.2em;

    picture {
      display: block;
      text-align: center;
    }

    figcaption {
      font-size: 1.45rem;
      line-height: 1.9rem;

      @include breakpoint(desktop) {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
  }

  .figure-title {
    font-weight: normal;
  }
}
