.ArticlePage,
.FocusPage {
  .Figure {
    margin-bottom: 3.2em;
    figure {
      picture {
        display: block;
        text-align: center;
      }

      figcaption {
        font-size: 1.45rem;
        line-height: 1.9rem;

        @include breakpoint(desktop) {
          font-size: 1.6rem;
          line-height: 2.1rem;
        }
      }
    }
  }

  .figure-title {
    font-weight: normal;
    font-size: 2.1rem;
    line-height: 2.8rem;

    @include breakpoint(desktop) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }
}
