.ArticlePage,
.FocusPage {
  figure {
    margin-bottom: 3.2em;
    text-align: center;

    picture {
      display: block;
      text-align: center;
    }
  }

  .figure-title {
    font-weight: normal;
  }
}
