@import 'var';

.FocusPage {
  background: $background-focus;

  .FocusBackToArticle {
    background: $color-breadcrumb;
    margin-bottom: $gap;
    margin-top: 50px;
    padding: $gap 0;

    a {
      color: white;
      font-size: 1.8rem;
    }
  }

  .FocusHeader {
    margin-bottom: 48px;

    .FocusTitle {
      font-size: 3.8rem;
      font-weight: normal;
      line-height: 4.1rem;
      margin-top: 24px;

      @include breakpoint(desktop) {
        font-size: 7rem;
        line-height: 7rem;
      }
    }

    .PublishedAt {
      font-family: $serif;
      font-size: 1.45rem;
      font-style: italic;
      line-height: 1.45rem;

      @include breakpoint(desktop) {
        font-size: 1.8rem;
        line-height: 1.8rem;
      }
    }
  }
}
