@import 'var';

.FocusPage {
  background: linear-gradient(#fff7d9, #ffe180);

  .FocusBackToArticle {
    background: $color-breadcrumb;
    height: 32px;
    margin-bottom: $gap;

    a {
      color: white;
      font-family: $sans;
      font-size: 18px;
    }
  }

  .FocusHeader {
    margin-bottom: 48px;

    .FocusTitle {
      font-family: $sans;
      font-size: 70px;
      font-weight: normal;
      line-height: 70px;
      margin-top: 24px;
    }

    .PublishedAt {
      font-family: $serif;
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
    }

  }

}
