.Footer {
  background: $color-white;
  color: #666;
  font-size: 1.2rem;
  padding-bottom: $gap6;
  padding-top: $gap3;

  h2 {
    letter-spacing: 4px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
  }

  ul {
    line-height: 1em;
    margin-top: 1em;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }

  li {
    margin-top: $gap;
  }

  a {
    color: inherit;
  }

  img {
    width: 130px;
  }

  // reordering is needed between desktop and mobile
  .FooterRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 $gap2;

    & > div {
      width: 50%;

      @include breakpoint(desktop) {
        width: 25%;
      }
    }

    .FooterColLogo {
      @include breakpoint(desktop) {
        order: -1;
      }
    }
  }
}
