.Footer {
  background: $color-white;
  color: #666;
  font-size: 1.2rem;
  padding-bottom: $gap6;
  padding-top: $gap3;

  // TODO bootstrap
  section:first-child {
    padding-left: 0;
  }

  section:last-child {
    padding-right: 0;
  }

  h2 {
    letter-spacing: 4px;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    text-transform: uppercase;
  }

  ul {
    line-height: 1em;
    margin-top: 1em;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
  }

  li {
    margin-top: $gap;
  }

  a {
    color: inherit;
  }
}

