@import 'var';
$color-blue: #4778d1;

.HomePage {
  background: linear-gradient(#ffe180, #fff7d9);

  .HomeHeader {
    margin-bottom: 48px;
    padding-top: 48px;

    .HomeTitle {
      color: $color-white;
      font-size: 70px;
      font-weight: bold;
      line-height: 70px;
      margin-top: 64px;
    }
    .HomeTitleTyped {
      color: $color-blue;
      font-weight: normal;
      margin-top: 0;
    }
  }

  .HomeNav, .HomeTopics, .HomeTeam {
    background: $color-footer;
  }

  .HomeBook, .HomeProject, .HomeResources {
    background: $color-white;
  }

  section {
    padding: $gap4;
  }

  section, p, li {
    font-size: 14px;
  }

  h2, h3 {
    color: $color-breadcrumb;
    margin-top: 0;
  }

  button {
    background-color: $color-blue;
    border: 0;
    border-radius: $gap;
    color: $color-white;
    font-size: 14px;
    margin: $gap $gap 0 0;
    padding: $gap;

    &.tour {
      background: $color-white;
      color: $color-breadcrumb;
    }

    img {
      height: 24px;
    }
  }

  input {
    border: 1px solid $color-footer;
    border-radius: $gap;
    font-size: 14px;
    margin-right: $gap;
    padding: 8px;
  }

  .HomeTopics {
    .row > div {
      background: $color-breadcrumb;
      border-radius: $gap;
      color: $color-white;
      height: 100px;
      padding: $gap;
      margin: $gap;
    }

    .TopicNumber {
      font-size: 32px;
    }
  }

  .HomeTeam {
    ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      padding: 0;
    }

    li {
      text-align: center;
      flex-basis: 0;

      div {
        white-space: nowrap;
      }
    }

    .avatar {
      background: $color-keyword;
      border-radius: 50%;
      height: 64px;
      margin: 0 auto $gap;
      width: 64px;
    }
  }
}
