@import "var";

.HomePage {
  overflow: hidden;

  .text-right{
    text-align: right;
  }

  .HomeVideo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .HomeHeader {
    margin-bottom: 96px;
    padding-top: 48px;

    .HomeTitle {
      color: $color-white;
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
      margin-top: 96px;
      text-shadow: 0 2px 10px rgba(0, 0, 0, .2);

      @include breakpoint(desktop) {
        font-size: 7rem;
        line-height: 7rem;
      }
    }

    .HomeTitleTyped {
      color: $color-yellow;
      font-weight: normal;
      margin-top: 0;
    }
  }

  .HomeTopics, .HomeAbout, .HomeBook {
    background: $color-white;
  }

  .HomeResources {
    background: $color-footer;

    a {
      font-weight: bold;
      color: $color-text;
      background: $color-keyword;
      border-radius: 5px;
      padding: 3px 6px;

      &:focus,
      &:hover {
        background: $color-yellow;
        text-decoration: none;
      }
    }
  }

  .HomeTeam,
  .HomeBook {
    background: $color-footer;
  }

  .HomeContact {
    background: $color-white;
  }

  .logo {
    img {
      width: 210px;
    }
  }

  img {
    margin: $gap2 0 0 0;

    @include breakpoint(desktop) {
      margin: 0;
    }
  }

  section {
    padding: $gap4 0;
  }

  section,
  p,
  li {
    font-size: 1.6rem;

    @include breakpoint(desktop) {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-size: 3.3rem;

    @include breakpoint(desktop) {
      font-size: 3.8rem;
    }
  }

  h2:first-of-type {
    margin-top: $gap4;
  }

  h2,
  h3 {
    color: $color-breadcrumb;
    margin-top: 0;
  }

  input {
    border: 1px solid $color-footer;
    border-radius: $gap;
    font-size: 1.4rem;
    margin-right: $gap;
    padding: 8px;
    width: 50%;
  }

  a.more {
    color: $color-breadcrumb;
    font-style: italic;
    font-weight: bold;
  }

  .HomeTopics {
    .gutter > [class*='col-'] {
    padding-right:0;
    }

    .HomeTopic {
      background: $color-breadcrumb;
      border-radius: $gap;
      color: $color-white;
      display: block;
      font-weight: bold;
      height: 140px;
      padding: $gap $gap2;
      margin: $gap 0;
      transition: color 0.1s ease-in, background 0.1s ease-in;

      &:focus,
      &:hover {
        background: $color-yellow;
        color: $color-breadcrumb;
        text-decoration: none;
      }
    }

    .TopicNumber {
      font-size: 3.3rem;
      min-height: 3.3rem;

      @include breakpoint(desktop) {
        font-size: 3.8rem;
      }
    }
    .TopicName {
      font-size: 1.8rem;

      @include breakpoint(desktop) {
        font-size: 2.1rem;
        line-height: 2.3rem;
      }
    }
  }

  .HomeFeatures {
    background: $color-keyword;

    ul {
      display: inline-block;
      list-style: none;
      justify-content: space-between;
      padding: 0;
    }

    img {
      width: 120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .FeaturesTitle {
      text-align: center;
    }
  }

  .HomeTeam {
    ul {
      // not well with small device (4 rows instead of 3)
      display: inline-block;
      // flex-direction: column;
      list-style: none;
      justify-content: space-between;
      padding: 0;

      // @include breakpoint(desktop) {
      //   flex-direction: row;
      // }
    }

    button {
      background: transparent;
      color: initial;
      margin: 0;

      img {
        height: auto;
        // marie-françoise
        max-width: 110px;
        // width: 100%;
      }
    }

    .TeamMember {
      align-items: center;
      display: flex;
      justify-content: start;
      margin-bottom: $gap;

      @include breakpoint(desktop) {
        flex-direction: column;
      }
    }

    .TeamMemberName {
      @include breakpoint(desktop) {
        text-align: center;
        white-space: nowrap;
      }
    }

    .avatar {
      background: $color-keyword;
      border-radius: 50%;
      height: 96px;
      margin: 0 $gap 0 0;
      width: 96px;

      @include breakpoint(desktop) {
        margin: 0 auto $gap;
      }
    }

    .modal {
      img {
        width: 50%;

        @include breakpoint(desktop) {
          width: 100%;
        }
      }

      .TeamMemberLinks a {
        margin-right: $gap;
      }
    }
  }

  section:target {
    padding: 50px 0;
  }

  .vcenter, .HomeTopics .vcenter {
    @include breakpoint(desktop) {
      display: flex;
      align-items: center;
    }
  }
}

// used by team members
// vertical centering: https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center#25160044

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  border-radius: 0;
}

.modal-backdrop {
  background-color: $color-keyword;
}
