@import 'var';

.HomePage {
  overflow: hidden;

  .text-right {
    text-align: right;
  }

  .HomeVideo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .HomeHeader {
    margin-bottom: 96px;
    padding-top: 48px;

    .HomeTitle {
      color: $color-white;
      font-size: 4rem;
      font-weight: bold;
      line-height: 4rem;
      margin-top: 96px;
      text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

      @include breakpoint(desktop) {
        font-size: 7rem;
        line-height: 7rem;
      }
    }

    .HomeTitleTyped {
      color: $color-yellow;
      font-weight: normal;
      margin-top: 0;
    }
  }

  .HomeTopics,
  .HomeAbout,
  .HomeBook {
    background: $color-white;
  }

  .HomeResources {
    background: $color-footer;

    a {
      font-weight: bold;
      color: $color-text;
      background: $color-keyword;
      border-radius: 5px;
      padding: 3px 6px;

      &:focus,
      &:hover {
        background: $color-yellow;
        text-decoration: none;
      }
    }
  }

  .HomeTeam,
  .HomeBook {
    background: $color-footer;
  }

  .HomeContact {
    background: $color-white;
  }

  .logo {
    img {
      width: 210px;
    }
  }

  img {
    margin: $gap2 0 0 0;

    @include breakpoint(desktop) {
      margin: 0;
    }
  }

  section {
    padding: $gap4 0;
  }

  section,
  p,
  li {
    font-size: 1.6rem;

    @include breakpoint(desktop) {
      font-size: 1.8rem;
    }
  }

  h2 {
    font-size: 3.3rem;

    @include breakpoint(desktop) {
      font-size: 3.8rem;
    }
  }

  h2:first-of-type {
    margin-top: $gap4;
  }

  h2,
  h3 {
    color: $color-breadcrumb;
    margin-top: 0;
  }

	h3.viz {
		margin-bottom: 0;
	}

  input {
    border: 1px solid $color-footer;
    border-radius: $gap;
    font-size: 1.4rem;
    margin-right: $gap;
    padding: 8px;
    width: 50%;
  }

  a.more {
    color: $color-breadcrumb;
    font-style: italic;
    font-weight: bold;
  }

  .HomeTopics {
    padding-top: 0;

    .HomeTopic {
      h2 {
        line-height: 3.3rem;
        margin: 40px 0 8px 0;
        padding: 0;
        a {
					transition: 0.5s all ease;
          text-decoration: none;
          color: $color-breadcrumb;
          font-family: 'Fira Sans', sans-serif;
          font-size: 2.8rem;
          font-weight: bold;

          &:focus,
          &:hover {
            transition: 0.3s all ease;
						border-bottom: 2px solid $color-yellow;
						box-shadow: inset 0 -4px 0 $color-yellow;
          }
        }
      }
    }

    .TopicCarousel {
      height: 144px;
      .carousel-item {
        margin: 0;
        padding: 0;
        height: 144px;
        width: 342px;
        overflow: hidden;
        position: relative;
      }
    }
  }

  .HomeFeatures {
    background: $color-keyword;

    ul {
      display: inline-block;
      list-style: none;
      justify-content: space-between;
      padding: 0;
    }

    img {
      width: 120px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .FeaturesTitle {
      text-align: center;
    }
  }

  .HomeTeam {
    ul {
      // not well with small device (4 rows instead of 3)
      display: inline-block;
      // flex-direction: column;
      list-style: none;
      justify-content: space-between;
      padding: 0;

      // @include breakpoint(desktop) {
      //   flex-direction: row;
      // }
    }

    button {
      background: transparent;
      color: initial;
      margin: 0;

      img {
        height: auto;
        // marie-françoise
        max-width: 110px;
        // width: 100%;
      }
    }

    .TeamMember {
      align-items: center;
      display: flex;
      justify-content: start;
      margin-bottom: $gap;

      @include breakpoint(desktop) {
        flex-direction: column;
      }
    }

    .TeamMemberName {
      @include breakpoint(desktop) {
        text-align: center;
        white-space: nowrap;
      }
    }

    .avatar {
      background: $color-keyword;
      border-radius: 50%;
      height: 96px;
      margin: 0 $gap 0 0;
      width: 96px;

      @include breakpoint(desktop) {
        margin: 0 auto $gap;
      }
    }

    .modal {
      img {
        width: 50%;

        @include breakpoint(desktop) {
          width: 100%;
        }
      }

      .TeamMemberLinks a {
        margin-right: $gap;
      }
    }
  }

  section:target {
    padding: 50px 0;
  }

  .vcenter,
  .HomeTopics .vcenter {
    @include breakpoint(desktop) {
      display: flex;
      align-items: center;
    }
  }
}

// used by team members
// vertical centering: https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center#25160044

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
  border-radius: 0;
}

.modal-backdrop {
  background-color: $color-keyword;
}

// Carousel global settings
// Note: was under .TopicCarousel, put back there if it's not global style

.carousel {
  .slick-arrow {
    z-index: 2000;
    width: 100px;
    height: 100%;
    &:before {
      content: '';
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      background-size: 2.5rem 2.5rem;
      position: absolute;
      top: 50%;
      top: calc(50% - 10px);
      opacity: 0.3;
    }
  }

  .slick-prev {
    left: 0;
    &:before {
      background-image: url(../assets/img/prev-article.svg);
      left: -24px;
    }
  }

  .slick-next {
    right: 0;
    &:before {
      background-image: url(../assets/img/next-article.svg);
      right: -24px;
    }
  }

  .slick-slide {
    margin: 0 8px;
  }

	.slick-current .carousel-item {
		transition: 0.3s all ease;
		.image {
			background-color: rgba(255, 214, 83, .7);
			background-blend-mode: multiply;
		}
		.caption {
			background-color: unset;
			text-shadow: black 0px 0px 10px;
		}

		@media (min-width: 600px) {
			.image {
				background-color: unset;
				background-blend-mode: normal;
			}
			.caption {
				background-color: rgba(94, 103, 118, .5);
				text-shadow: none;
			}
		}
	}

  .carousel-item {
    margin: 0;
    padding: 0;
    position: relative;
    a {
      text-decoration: none;
      display: block;
      height: 100%;
    }
    .image {
      display: block;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
		&:focus .image,
		&:hover .image {
			transition: 0.3s all ease;
			background-color: rgba(255, 214, 83, .7);
			background-blend-mode: multiply;
		}
    .caption {
      display: block;
      left: auto;
      height: 100%;
      text-align: center;
      line-height: 144px; // vertical center
      font-family: $sans;
      font-size: 2.1rem;
      font-weight: bold;
      color: $color-white;
			background-color: rgba(94, 103, 118, .5);

			&:focus,
			&:hover {
				transition: 0.5s all ease;
				background-color: unset;
				color: $color-white;
				text-shadow: black 0px 0px 10px;

			}
    }
    .image + .caption {
      position: relative;
      top: -144px;
    }
  }

  // Hidden until loaded
  &:not(.slick-initialized) .carousel-item:not(:first-child) {
    display: none;
  }

  // Dots *in* the slides
  &.slick-dotted.slick-slider {
    margin-bottom: 0;
    margin-left: -20px;
    margin-right: -20px;
    .slick-dots {
      bottom: -32px;
    }

    @include breakpoint(desktop) {
      margin-left: -8px;
      margin-right: -8px;
    }
  }
}
