@import 'var';

html {
  // everything should be expressed in rem
  // for example 16px = 1.6rem
  font-size: 62.5%;
}

// ribbon
body.preview::before {
  background: #f00;
  color: #fff;
  content: 'preview';
  display: block;
  font-size: 3rem;
  font-weight: bold;
  position: fixed;
  right: -50px;
  text-align: center;
  top: 25px;
  transform: rotate(45deg);
  width: 200px;
  z-index: 1;
}

/* TYPO /!\ font-base = 10px ---------------------------------------- */

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 10px;
}

/* video */
iframe {
  display: block;
}

h3 {
  font-size: 1.8em;
  line-height: inherit;
  margin-top: inherit;
  margin-bottom: 0.417em;
}

p {
  margin: 0 0 10px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-menu > li > a {
  padding: 5px 5px;
}

ul.navmenu-nav,
ul.navmenu-nav a {
  font-weight: 400;
  font-size: 1.6rem;
}

// 2 navbars:
// - 1 static with the logo + link to home
// - 1 fixed with hamburger toggle

.navbar {
  margin-bottom: 0px;
  border: 0px;
  max-height: 48px;
}

.navbar-logo {
  position: absolute;
  top: 0;
  min-height: 48px;
  width: 100%;
}

#topbar {
  height: 48px;
  margin-top: -2px;
  z-index: 10;

  .if-not-scrolled {
    display: block;
  }
  .if-scrolled {
    display: none;
  }
  body.scrolled & {
    position: fixed;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s;
    .if-not-scrolled {
      display: none;
    }
    .if-scrolled {
      display: block;
    }
  }
}

.SideMenuToggle {
  position: absolute;
}

.search-toggle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2000;
  padding: 12px;
  .search-toggle-button {
    margin-top: 0;
  }
  .search-field {
    min-width: 0px;
    display: none;
    transition: min-width 0.4s cubic-bezier(0, 0.795, 0, 1);

    &:focus {
      min-width: 250px;
    }
  }
  &.expand {
    .search-field {
      display: inline-block;
    }
    .search-toggle-button {
      display: none;
    }
  }
}

.navbar-toggle,
.search-toggle-button {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 0;
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-left: 9px;
  padding: 3px;

  &:hover,
  &:focus {
    // box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 10px 14px rgba(0, 0, 0, 0.1),
    //   inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    //   inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0);
    border-color: #919191;
  }
}

.navbar-brand {
  position: absolute;
  padding-top: 9px;
  left: 50%;
  display: block;
  text-align: center;
  width: 220px;
  font-family: Fira sans, sans-serif;
  font-size: 1.8rem;
  color: #000;

  &.if-scrolled {
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.navbar > .container .navbar-brand {
  margin-left: -110px;
}

.offcanvas.in {
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
}

.navmenu {
  padding: 0 0 40px 12px;
  font-size: 1.58rem;
  z-index: 20;

  .close-button {
    color: #000;
    text-decoration: none;
    font-size: 4rem;
    line-height: 21px;
    font-weight: bold;
    position: absolute;
    top: 12px;
    cursor: pointer;
  }

  h1 {
    font-size: 2.1rem;
    margin: 40px 0 14px 0;
    padding: 0;
    &:first-of-type {
      margin-top: 60px;
      font-size: 2.4rem;
    }
    a {
      text-decoration: none;
      color: $color-text;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      a {
        padding: 12px 0 0 12px;
      }
      &:first-child a {
        padding-top: 0;
      }
      &:last-child a {
        padding-bottom: 0;
      }
    }
  }
}

.navmenu-form {
  border: none;
  padding: 6px 15px;
  margin: auto;
}

// Buttons

button,
.button {
  display: inline-block;
  background-color: $color-breadcrumb;
  border: 0;
  border-radius: $gap;
  color: $color-white;
  font-size: 1.8rem;
  margin: $gap 0 0 0;
  padding: $gap;
  transition: color 0.1s ease-in, background 0.1s ease-in;

  &:focus,
  &:hover {
    background-color: $color-yellow;
    color: $color-breadcrumb;
    text-decoration: none;
  }

  &.tour {
    background: $color-white;
    color: $color-breadcrumb;
  }

  img {
    height: 24px;
  }
}

/* MEDIA QUERIES ---------------------------------------- */
@media (min-width: 0) {
  // force showing the toggle
  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 755px) {
  .container {
    max-width: 740px;
  }
}

@import 'slick-carousel';

@import 'EmbeddedResource';
@import 'Footer';
@import 'Doc';
@import 'Page';

@import 'ArticlePage';
@import 'FocusPage';
@import 'HomePage';
@import 'AboutPage';
@import 'ResourcePage';
@import 'TopicPage';
@import 'SearchPage';
@import 'NotFoundPage';
@import 'SitemapPage';
@import 'LexiconPage';
@import 'LangSelector';
