html {
  // everything should be expressed in rem
  // for example 16px = 1.6rem
  font-size: 62.5%;
}

// ribbon
body.preview::before {
  background: #f00;
  color: #fff;
  content: 'preview';
  display: block;
  font-size: 3rem;
  font-weight: bold;
  position: fixed;
  right: -50px;
  text-align: center;
  top: 25px;
  transform: rotate(45deg);
  width: 200px;
  z-index: 1;
}

/* TYPO /!\ font-base = 10px ---------------------------------------- */

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

/* video */
iframe {
  display: block;
}

h1,
h2 {
  font-size: 2.17em;
  margin-top: 2em;
  margin-bottom: 0.417em;
}

h3 {
  font-size: 1.8em;
  line-height: inherit;
  margin-top: inherit;
  margin-bottom: 0.417em;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.dropdown-menu > li > a {
  padding: 5px 5px;
}

ul.navmenu-nav,
ul.navmenu-nav a {
  font-weight: 400;
  font-size: 1.6rem;
}

// 2 navbars:
// - 1 static with the logo + link to home
// - 1 fixed with hamburger toggle

.navbar {
  margin-bottom: 0px;
  border: 0px;
  max-height: 48px;
}

.navbar-logo {
  position: absolute;
  top: 0;
  min-height: 48px;
  width: 100%;
}

.navbar-fixed-top {
  right: auto;
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 0;
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 9px;
  margin-left: 9px;
  padding: 3px;

  &:hover,
  &:focus {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2), 0px 10px 14px rgba(0, 0, 0, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.25),
      inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.66);
    border-color: #919191;
  }
}

.navbar-brand {
  position: absolute;
  padding-top: 7px;
  left: 50%;
  display: block;
  text-align: center;
  width: 280px;
}

.navbar > .container .navbar-brand {
  margin-left: -140px;
}

.navmenu {
  padding-top: 15px;
}

.navmenu-form {
  border: none;
  padding: 10px 15px;
  margin: auto;
}

/* MEDIA QUERIES ---------------------------------------- */
@media (min-width: 0) {
  // force showing the toggle
  .navbar-toggle {
    display: block;
  }
}

@media (min-width: 755px) {
  .container {
    max-width: 740px;
  }
}

@import 'TopMenu';
@import 'Footer';
@import 'Doc';

@import 'ArticlePage';
@import 'FocusPage';
@import 'HomePage';
@import 'ResourcePage';
@import 'TopicPage';
@import 'SearchPage';
