.LangSelector {
  padding: 0;
  margin-top: 30px;

  &.short-label a {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    padding: 2px 5px;
    &:hover {
      text-decoration: none;
    }

    font-size: 2.1rem;
    color: #777;
    margin-right: 10px;


    &.other {
      opacity: 0.5;
      font-weight: normal;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.current {
      font-weight: bold;
      outline: solid;
    }
  }

  // LangSelector embedded in TopBar (refs #203)
  #topbar & {
    vertical-align: top;
    margin: 0;
    padding: 9px 0; // same margins as .navmenu-form
    display: inline-block;
    a {
      margin: 0;
    }
    a.other, a.disabled {
      color: #fff;
    }
    a.other {
      opacity: 1;
    }
    a.current {
      display: none;
    }
  }
  // Cases of black links
  body.scrolled #topbar & a, #topbar &.black a {
    color: #000;
  }
}
