.nav-article-wrapper {
    z-index: 4000000;
    position: fixed;
    top: 40%;
    left: 0;
    right: 0;
}

.nav-article-button {
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    color: black;
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    margin: 5px;
    padding: 5px;
}

.nav-article-chap,
.nav-article-title {
    font-family: 'Fira sans', sans-serif;
    color: black;
    float: none;
    text-decoration: none;
    width: 200px;
    display: none;
}

.nav-article-chap {
    font-size: 1.4em;
}

.nav-article-title {
    font-size: 1.6em;
    font-weight: 700;
    padding: 0;
    margin: 5px 0 15px 0;
}

.nav-article-previous {
    text-align: left;
    float: left;
}

.nav-article-next {
    text-align: right;
    float: right;
}

.nav-article-next:before,
.nav-article-previous:before {
    display: block;
    font-size: 25px;
}
.nav-article-previous:before {
    font-family: 'Glyphicons Halflings';
    content: "\e257";
    text-align: left;
}
.nav-article-next:before {
    font-family: 'Glyphicons Halflings';
    content: "\e258";
    text-align: right;
}
.nav-article-button:hover .nav-article-title,
.nav-article-button:hover .nav-article-chap {
    display: inline;
}

.nav-article-button.nav-article-previous {
    margin: 5px 5px 5px 0;
    padding: 5px 10px 5px 10px;
}
.nav-article-button.nav-article-previous:hover {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        background-color: white;
}

.nav-article-button.nav-article-next {
    margin: 5px 0 5px 5px;
    padding: 5px 10px 5px 10px;
}
.nav-article-button.nav-article-next:hover {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-top: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        background-color: white;
}


.nav-article-button:hover .nav-article-chap,
.nav-article-button:hover .nav-article-title {
        display: block;
}

.nav-article-button:hover {
        text-decoration: none;
}

.nav-article-button {
        position: relative;
}