@import 'var';

.ResourcePage {
  .ResourceHeader {
    padding-top: 48px;
    padding-bottom: $gap3;

    .PageTitle {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
      margin-bottom: 20px;
    }

    .ResourceType {
      font-size: 2rem;
      font-weight: normal;
      line-height: 2rem;
    }

    .ResourceTitle {
      font-size: 3rem;
      font-weight: normal;
      line-height: 3rem;
      margin-top: 20px;
    }
  }

  .ResourceImage, .ResourceMap {
    text-align: center;
  }

  .ResourceVideo {
    iframe {
      height: 400px;
      width: 100%;
    }
  }

  .ResourceCopyright, .ResourceDescription,
  .ResourceTranscript, .ResourceDownload {
    font-size: 1.5rem;
    line-height: 2.4rem;

    h2 {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.6rem;
      margin-top: $gap3;
    }
  }
}

