@import 'var';

.ResourcePage {
  .ResourceHeader {
    padding-top: 48px;
    padding-bottom: $gap3;

    .PageTitle {
      font-size: 20px;
      font-weight: bold;
      line-height: 20px;
      margin-bottom: 20px;
    }

    .ResourceType {
      font-size: 20px;
      font-weight: normal;
      line-height: 20px;
    }

    .ResourceTitle {
      font-size: 30px;
      font-weight: normal;
      line-height: 30px;
      margin-top: 20px;
    }
  }

  .ResourceImage, .ResourceMap {
    text-align: center;
  }

  .ResourceVideo {
    iframe {
      height: 400px;
      width: 100%;
    }
  }

  .ResourceCopyright, .ResourceDescription,
  .ResourceTranscript {
    font-size: 15.8px;
    line-height: 24px;

    h2 {
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      margin-top: $gap3;
    }
  }
}

