@import 'var';

.ResourcePage {

  padding-bottom: $gap4;

  .ResourceHeader {
    padding-top: 48px;
    padding-bottom: $gap3;

    .PageTitle {
      font-size: 2rem;
      font-weight: bold;
      line-height: 2rem;
      margin-bottom: 20px;
    }

    .ResourceType {
      font-size: 2rem;
      font-weight: normal;
      line-height: 2rem;
    }

    .ResourceTitle {
      font-size: 3rem;
      font-weight: normal;
      line-height: 3rem;
      margin-top: 20px;
    }
  }

  .ResourceImage, .ResourceMap {
    text-align: center;
  }

  .ResourceVideo {
    iframe {
      height: 400px;
      width: 100%;
    }
  }

  .ResourceCopyright, .ResourceDescription,
  .ResourceTranscript, .ResourceDownload,
  .ArticleSeeAlso {
    font-size: 1.5rem;
    line-height: 2.4rem;

    h2 {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.6rem;
      margin-top: $gap3;
    }
  }

  .ResourceLexicon {
    dt {
      font-family: $serif;
      font-size: 2rem;
    }
    dd {
      font-family: $serif;
      margin-bottom: $gap3;
    }
    .gradient-expand {
      max-height: 90px;
      overflow: hidden;
      position: relative;

      .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: right;
        margin: 0;
        padding-top: 26px;
        background-image: linear-gradient(to bottom, transparent, $color-white);

        span {
          background: $color-white;
          font-family: $sans;
          padding: 5px;
        }
      }
    }
  }

  .ResourceSource {
    margin-top: $gap2;
    .source-content {
      p, div { // Ensure paragraphs are ignored, we just want to render links/bold/em here…
        display: inline-block;
      }
    }
  }

  .ResourceDownload {
    .download-blocks {
      display: flex;
      flex-wrap: wrap;
      .download-block {
        background: $color-footer;
        margin: $gap;
        flex: 1;
        display: flex;
        min-width: 300px;
        .download-preview {
          max-width: 120px;
          max-height: 80px;
          object-fit: cover;
          margin: 0 $gap 0 0;
          padding: 0;
          flex: 1;
        }
        .download-info {
          margin: 0;
          padding: 0;
          flex: 1;
          strong {
            display: block;
            margin: 0 0 $gap2 0;
          }
          a {
            color: $color-breadcrumb;
            font-size: 1.25rem;
            &:before {
              content: '';
              background-image: url("../assets/img/download.png");
              background-repeat: no-repeat;
              background-size: 1.5rem 1.5rem;
              display: inline-block;
              width: 1.5rem;
              height: 1.5rem;
              padding: 0;
              margin: 0 0.25rem 0 0;
            }
            .link {
              font-weight: bold;
            }
            .info {

            }
          }
        }
      }
    }
  }
}

