@import 'var';
$color-blue: #4778d1;

.SearchPage {
  background: $color-white;

  .SearchForm {
    padding-top: 48px;

    .search-filters-inputs label {
      display: block;
    }
  }

  .SearchResults {
    background: $color-white;
  }

  section {
    padding: $gap4;
  }

  button {
    background-color: $color-footer;
    border: 0;
    border-radius: $gap;
    color: $color-white;
    font-size: 14px;
    margin: $gap $gap 0 0;
    padding: $gap;

    &.tour {
      background: $color-white;
      color: $color-breadcrumb;
    }

    img {
      height: 24px;
    }
  }

  .search-input {
    text-align: center;
  }

  input {
    border: 1px solid $color-footer;
    border-radius: $gap;
    font-size: 14px;
    margin-right: $gap;
    padding: 8px;
  }

  .search-filters-toggle {
    &[data-filters-hidden='1'] {
      .toggle-collapse {
        display: none;
      }
      & + .search-filters-inputs {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }
    &[data-filters-hidden='0'] {
      .toggle-expand {
        display: none;
      }
      & + .search-filters-inputs {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 0.2s ease-in;
      }
    }
  }

  .SearchResults {
    & .search-results-error {
      display: none;
    }
    & .search-results-success {
      display: none;
    }
    &[data-status='success'] .search-results-success {
      display: initial;
    }
    &[data-status='error'] .search-results-error {
      display: initial;
    }
    .search-result {
      .search-result-preview img {
        max-width: 300px;
        max-height: 100px;
      }
    }
  }
}
