@import "var";
$color-blue: #4778d1;

.SearchPage {
  background: $color-white;

  .SearchForm {
    padding-top: 48px;
    padding-bottom: $gap2;

    .search-filters-inputs label {
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
    }
  }

  .SearchPageTitle {
    display: none;
    font-size: 2.4rem;
    margin-bottom: $gap;
    margin-top: $gap;
  }
  &.has-title {
    .SearchPageTitle {
      display: block;
    }
    .search-filters-container {
      top: 110px;
      @include breakpoint(mobile) {
        left: auto;
        right: 0;
      }
    }
  }

  .search-page-a-z {
    display: none;
    padding: 12px 0px;
    margin: 0;
    .search-filter-a-z {
      padding: 8px;
      font-size: 1.1em;
      cursor: pointer;
      &:first-child {
        padding-left: 0;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
  &.is-lexicon .search-page-a-z {
    display: block;
  }

  .SearchPageTitleType {
    color: $color-breadcrumb;
  }

  .SearchResults {
    background: $color-white;
  }

  .SearchFiltersCount {
    margin: 0 .5rem;
  }

  button {
    background-color: $color-footer;
    border: 0;
    border-radius: $gap;
    color: $color-white;
    font-size: 1.4rem;
    margin: $gap $gap 0 0;
    padding: $gap;

    &.tour {
      background: $color-white;
      color: $color-breadcrumb;
    }

    img {
      height: 24px;
    }
  }

  .search-input {
    margin-bottom: $gap2;
    text-align: center;

    input {
      width: 90%;
      @include breakpoint(mobile) {
        width: 70%;
      }
    }
  }

  input {
    border: 1px solid $color-footer;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-right: $gap;
    padding: 2px;
  }

  form {
    position: relative;
  }

  .search-filters-container {
    position: absolute;
    left: 0;
    top: 60px;
    @include breakpoint(mobile) {
      left: auto;
      right: 0;
    }
  }

  .search-filters {
    background-color: $color-footer;
  }

  .search-filters-title {
    color: $color-breadcrumb;
    font-size: 1.7rem;
    margin: 0;
    padding: 4px;
  }

  .search-filters-toggle {
    background-color: #ebedf1;
    color: $color-breadcrumb;
    font-size: 1.5rem;
    margin: $gap 0;
    padding: $gap;

    &[data-filters-hidden="1"] {
      .toggle-collapse {
        display: none;
      }
      & + .search-filters-inputs {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
    }
    &[data-filters-hidden="0"] {
      .toggle-expand {
        display: none;
      }
      & + .search-filters-inputs {
        max-height: 500px;
        overflow: hidden;
        transition: max-height 0.2s ease-in;
      }
    }
  }

  .search-filters-inputs {
    padding: 0 $gap;
  }

  .SearchResults {
    & .search-results-error {
      display: none;
    }
    & .search-results-success {
      display: none;
    }
    &[data-status="success"] .search-results-success {
      display: initial;

      .search-page.container {
        padding-left: 128px;
        @include breakpoint(mobile) {
          padding-left: 12px;
        }
      }
    }
    &[data-status="error"] .search-results-error {
      display: initial;
    }
    .search-result {
      .search-result-preview img {
        max-width: 300px;
        max-height: 100px;
      }
    }

    .search-result-definition {
      // collapsed
      max-height: 70px;
      overflow: hidden;
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(transparent 30px, white);
      }
      // expanded
      &.expanded {
        max-height: initial;
        overflow: auto;
      }
      &.expanded:before {
        content: none;
      }
    }
  }

  .reset-filters {
    width: 100%;
  }
}

body {
  .selectize-dropdown {
    z-index: 1500;
  }
}
