@import 'var';
$color-blue: #4778d1;

.LexiconPage, // Styles shared with Lexicon page
.SearchPage {
  background: $color-white;

  .SearchForm {
    padding-top: 48px;
    padding-bottom: $gap2;

    .search-filters-inputs label {
      display: block;
      font-size: 1.2rem;
      font-weight: normal;
    }
  }

  .SearchPageTitle {
    display: none;
    font-size: 2.4rem;
    margin-bottom: $gap2;
    margin-top: $gap2;
  }
  &.has-title {
    .SearchPageTitle {
      display: block;
    }
    .search-filters-container {
      top: 118px;
      @include breakpoint(mobile) {
        left: auto;
        right: 0;
      }
    }
  }

  .search-page-a-z {
    display: none;
    padding: 12px 0px;
    margin: 0;
    .search-filter-a-z {
      padding: 8px;
      font-size: 1.1em;
      cursor: pointer;
      float: left;
      &:first-child {
        padding-left: 0;
      }
      &.active {
        font-weight: bold;
      }
    }
  }
  &.is-lexicon .search-page-a-z {
    display: inline-block;
  }

  .SearchPageTitleType {
    color: $color-breadcrumb;
  }

  .SearchResults {
    background: $color-white;
  }

  .SearchFiltersCount {
    margin: 0 0.5rem;
  }

  button {
    background-color: $color-footer;
    border: 0;
    border-radius: $gap;
    color: $color-white;
    font-size: 1.4rem;
    margin: $gap $gap 0 0;
    padding: $gap;

    &.tour {
      background: $color-white;
      color: $color-breadcrumb;
    }

    img {
      height: 24px;
    }
  }

  .search-input {
    margin-bottom: $gap2;
    text-align: center;

    input {
      width: 90%;
      @include breakpoint(mobile) {
        width: 70%;
      }
    }
  }

  input {
    border: 1px solid $color-footer;
    border-radius: 2px;
    font-size: 1.4rem;
    margin-right: $gap;
    padding: 2px;
  }

  form {
    position: relative;
  }

  .search-filters-container {
    position: absolute;
    left: 0;
    top: 68px;

    .search-filters.dropdown-menu {
      width: 300px;
    }

    .search-filters-title {
      color: $color-breadcrumb;
      font-size: 1.7rem;
      margin: 0;
      padding: 4px;
    }

    .search-filters-toggle {
      background-color: #f8f8f8;
      color: $color-breadcrumb;
      font-size: 1.5rem;
      margin: $gap 0;
      padding: $gap;

      &[data-filters-hidden='1'] {
        .toggle-collapse {
          display: none;
        }
        & + .search-filters-inputs {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
        }
      }
      &[data-filters-hidden='0'] {
        .toggle-expand {
          display: none;
        }
        & + .search-filters-inputs {
          max-height: 500px;
          overflow: hidden;
          transition: max-height 0.2s ease-in;
        }
      }
    }

    .search-filters-inputs {
      padding: 0 $gap;
    }

    // Mobile: search filters on right side
    @include breakpoint(mobile) {
      left: auto;
      right: 0;
      .search-filters.dropdown-menu {
        left: -230px;
      }
    }

    // Wide screen: search filters follow scroll and positioned left in the margin
    @media (min-width: 1300px) {
      .dropdown-toggle {
        display: none;
      }
      .search-filters.dropdown-menu {
        display: block;
        position: fixed;
        top: 180px;
        left: 0;
        border: none;
        box-shadow: none;
        z-index: 10;
      }
    }
  }

  .SearchResults {
    & .search-results-error {
      display: none;
    }

    & .search-results-success {
      display: none;
    }

    &[data-status='success'] .search-results-success {
      display: initial;

      .search-page.container {
        padding-left: 128px;
        // Mobile & wide-screen: search filters are not on left of pagination, put it left
        @include breakpoint(mobile) {
          padding-left: 12px;
        }
        @media (min-width: 1300px) {
          padding-left: 12px;
        }
      }
    }

    &[data-status='error'] .search-results-error {
      display: initial;
    }

    .search-result {
      display: block;
      padding: 0 0 $gap 0;
      margin: 0 0 $gap 0;
      border-bottom: 1px solid $color-footer;
      text-decoration: none;
      color: $color-text;

      &:first-of-type {
        margin-top: 16px;
      }

      .search-result-type {
        display: block;
        height: $gap2;
        line-height: $gap2;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        color: $color-breadcrumb;
        font-weight: bold;
        text-decoration: none;

        @include breakpoint(desktop) {
          font-size: 1.2rem;
        }
      }

      .search-result-text {
        display: inline-block;
        margin: 0;
        padding: 0;
        .search-result-title {
          font-weight: bold;
          font-size: 1.31rem;
          line-height: 1.5rem;

          @include breakpoint(desktop) {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
        .search-result-subtitle {
          font-weight: lighter;
          font-size: 1rem;
        }
        .search-result-aliases {
          font-size: 1.1rem;
          line-height: 2rem;
          color: $color-breadcrumb;

          @include breakpoint(desktop) {
            font-size: 1.3rem;
            line-height: 2rem;
          }
        }
      }

      .search-result-preview {
        width: 120px;
        height: 63px;
        float: left;
        overflow: hidden;
        margin: 0 12px 0 0;
        padding: 0;

        img {
          max-width: 120px;
        }
      }
    }

    .search-result-definition {
      // collapsed
      max-height: 70px;
      overflow: hidden;
      position: relative;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
      font-family: $serif;
      font-size: 1.45rem;
      line-height: 2.2rem;
      margin: $gap;

      @include breakpoint(desktop) {
        font-size: 1.7rem;
        line-height: 2.6rem;
      }
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(transparent 30px, white);
      }
      // expanded
      &.expanded {
        transition: max-height 1s ease-in-out;
        max-height: 1000px;
      }
      &.expanded:before {
        content: none;
      }
    }
  }

  .reset-filters {
    width: 100%;
  }
}

body {
  .selectize-dropdown {
    z-index: 1500;
  }
}
