@import 'colors';

$topic-space: 8px;

.TopicPage {
  .TopicHeader {
    background: $color-breadcrumb;
    color: rgba(255,255,255,.9);
    padding-bottom: 3 * $topic-space;

    .TopicId {
      font-family: 'Fira Sans', sans-serif;
      font-size: 120px;
      font-weight: bold;
      line-height: 120px;
      margin-top: 90px;
    }

    .TopicName {
      font-family: 'Gentium Basic', serif;
      font-size: 70px;
      font-style: italic;
      line-height: 70px;
    }

    .TopicVideo {
      height: 400px;
      width: 100%;
    }
  }

  .ArticleList {
    $height: 192px;
    list-style: none;
    margin-bottom: 3 * $topic-space;
    margin-top: 0;

    li {
      margin-top: 3 * $topic-space;
    }

    a {
      color: #333;
      display: flex;
      text-decoration: none;
      transition: all .2s ease;
    }

    a:hover {
      // background: #d1d6e0;
    }

    img {
      background: #ccc;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: cover;
      display: block;
      flex-shrink: 0;
      height: $height;
      margin-right: 2 * $topic-space;
      width: 288px;
    }

    .ArticleListInfo {
      font-family: 'Fira Sans', sans-serif;
      font-size: 15.8px;
      line-height: 24px;
    }

    .ArticleListTitle {
      font-size: 21px;
      font-weight: bold;
      line-height: 24px;
      text-decoration: none;
    }

    .publishedAt {
      font-family: 'Gentium Basic', serif;
      font-size: 15.8px;
      font-style: italic;
      line-height: 24px;
    }

    .ArticleListFocus {
      color: #000;
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 24px;
      
      > div {
        background-color: #fff7d9;
        border-left: 4px solid $color-keyword;
        padding: 10px 20px;
        transition: all .2s ease;

        &:hover {
          background-color: $color-keyword;
        }
      }

      a {
        color: initial;
        display: flex;
        font-family: 'Fira Sans', sans-serif;
        text-decoration: none;
      }

      .FocusIcon {
        margin-right: 1em;
      }
    }

  }
}
