@import 'var';

.TopMenu {
  left: 0;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 1;

  nav > ul {
    display: flex;
  }

  ul {
    list-style: none;
    padding: 0;
    position: relative;
    margin: 0;
  }

  .TopicMenuPanel {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
  }

  button {
    background: transparent;
    border: none;
    color: $color-white;
    display: block;
    font-family: $sans;
    width: 100%;

    &.active {
      // instead of border-bottom, to avoid gap with panels
      background: linear-gradient(to bottom,
        transparent 0%, transparent 90%,
        $color-white 90%, $color-white 100%);
      font-weight: bold;
    }

    &[aria-expanded="true"] {
      background: $color-footer;
      color: $color-text;
    }
  }

  // bootstrap hides the outline by default :S
  .dropdown-toggle:focus {
    outline: auto;
  }

  .dropdown-menu {
    background: $color-footer;
    border: 0;
    border-radius: 0;
    font-family: $sans;
    margin: 0;
    padding: $gap2;
    width: 100%;

    .col-first {
      border-right: 1px solid $color-text;
    }

    h2 {
      font-size: 20px;
      margin-top: 0;
    }

    ul li {
      line-height: $gap3;
    }

    ol {
      list-style: none;
      padding: 0;
      counter-reset: navlist;
      padding-left: 0;

      -moz-columns: 2;
      -webkit-columns: 2;
      columns: 2;
      -moz-column-gap: 3.2em;
      -webkit-column-gap: 3.2em;
      column-gap: 3.2em;
      column-rule: 1px solid rgba(0,0,0,.4)
    }

    ol li {
      list-style-type: none;
      counter-increment: navlist;
    }

    ol > li {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      -moz-page-break-after: always;
      -webkit-column-break-after: always;
      page-break-after: always;
      break-after: always;
      -moz-page-break-inside: avoid-column;
      -webkit-column-break-inside: avoid-column;
      page-break-inside: avoid;
      break-inside: avoid-column;
      word-wrap: break-word;
      margin-bottom: .5em;
    }

    ol li::before {
      display: inline-block;
      font-family: $sans;
      vertical-align: top;
      min-width: 1em;
      padding-right: 0.5em;
      font-weight: bold;
      text-align: right;
      content: counter(navlist) ".";
    }

    ol ol {
      margin-top: .5em;
      padding-left: 1.5em;
    }

    ol ol li::before {
      content: counters(navlist,".") ".";
    }

    a {
      color: inherit;
      font-family: $sans;
      font-size: 16px;
    }
  }

  .TopMenuSearch {
    left: -20px;
    position: absolute;
    top: 4px;

    img {
      height: 24px;
      width: 24px;
    }

    .dropdown-menu {
      text-align: center;
      width: 240px;
    }

    input {
      border: 1px solid $color-breadcrumb;
      border-radius: $gap;
      padding: 4px;
    }
  }
}
