// fonts

// body text is $sans by default
// so only overload selector with $serif when appropriate
$sans: 'Fira Sans', sans-serif;
$serif: 'Gentium Basic', serif;

// dimensions

// a pink square in the ref PDF
$gap: 8px;
$gap2: 2 * $gap; // 16px
$gap3: 3 * $gap; // 24px
$gap4: 4 * $gap; // 32px
$gap5: 5 * $gap; // 40px
$gap6: 6 * $gap; // 48px

// colors

$color-text: black;
$color-white: white;

$color-breadcrumb: #5e6776; // dark grey
$color-footer: #d1d6e0; // light grey
$color-keyword: #ffe9a1; // yellow

// these breakpoints are independent from the ones
// used by srcset="" to display images in articles
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 732px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 732px)  { @content; }
  }
}
