.Resources h1 a {
  color: #444;
}

.Resources .preview {
  max-height: 50px;
  max-width: 100px;
}

.Resources td {
  vertical-align: middle;
}

.Resources td.cell-status {
  text-align: center;
}

.Resources td.cell-type a {
  color: #444;
}

.Resources .menu-list {
  font-size: .8em;
}

.Resources .menu-list a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Resources .menu-list a.active {
  font-weight: bold;
}

.Resources .menu-list span {
  margin-right: .5em;
}

.Resources .menu-list .button {
  font-size: .5em;
  margin-right: 1em;
}

.Resources .menu-list img {
  height: 16px;
  margin-right: .5em;
  vertical-align: center;
}
