.Resources h1 a {
  color: #444;
}

.Resources .preview {
  max-height: 50px;
  max-width: 100px;
}

/* textual preview: ellipsis */
.Resources span.preview {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Resources td {
  vertical-align: middle;
}

.Resources td.cell-status {
  text-align: center;
}

.Resources td.cell-type a {
  color: #444;
}

.Resources td.cell-title {
  min-width: 250px;
}

.Resources th {
  white-space: nowrap;
}

.Resources .menu-list {
  font-size: 0.8em;
}

.Resources .menu-list a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Resources .menu-list a.active {
  background: #EEE;
  font-weight: bold;
}

.Resources .menu-list span {
  margin-right: 0.5em;
}

.Resources .menu-list .button {
  font-size: 0.5em;
  margin-right: 1em;
}

.Resources .menu-list img {
  height: 16px;
  margin-right: 0.5em;
  vertical-align: center;
}
