.Resources .menu-list a.active {
  font-weight: bold;
}

.Resources .preview {
  max-height: 50px;
  max-width: 100px;
}

/* status */
.Resources td.cell-status {
  text-align: center;
  vertical-align: middle;
}
